@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(2);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.75;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}

@keyframes waves-short {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.75;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.BaseSpinner {
  @apply absolute rounded-full h-8 w-8 sm:h-10 sm:w-10 md:h-14 md:w-14;
  @apply app-light-raised;
}

.SpinnerBackground {
  @apply BaseSpinner z-50;
}

.Spinner {
  @apply z-50 absolute;
  @apply h-6 w-6 sm:h-8 sm:w-8 md:h-10 md:w-10;
}

.SpinnerWaveSlow {
  @apply z-20 BaseSpinner;

  animation: waves 4s linear infinite;
}

.SpinnerWaveFast {
  @apply z-10 BaseSpinner;
  animation: waves 2s linear infinite;
}

.SpinnerWaveShort {
  @apply z-30 BaseSpinner;
  animation: waves-short 1s linear infinite;
}
