.BaseCard {
  @apply min-h-[0.5rem] min-w-[0.5rem] rounded-md;
}

.FloatCard {
  @apply BaseCard;
  @apply backdrop-blur-[2px] bg-app-gray-250-70;
  box-shadow: 8px 8px 10px 0 var(--app-gray-030-30);
  border: 1px solid var(--app-gray-255-20);
  /* transform: translateY(-25%) translateX(-20%); */
}

.RaisedCard {
  @apply BaseCard;
  @apply app-light-raised;
}

.ShallowCard {
  @apply BaseCard;
  @apply app-light-shallow;
}
