.ModalContainer {
  @apply rounded-md  backdrop-blur-[2px] bg-app-gray-255-50;
  box-shadow: 8px 8px 10px 0 var(--app-gray-030-30);
  border: 1px solid var(--app-gray-255-20);
}

/* NOTE:
  hack for safari. the background color with trasnparance is rendered diferent
  So defining the same class later does the trick
 */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ModalContainer {
      @apply rounded-md  backdrop-blur-[2px] bg-app-gray-235-50;
    }
  }
}

.ModalContent {
  @apply overflow-scroll m-6  rounded-md bg-app-gray-235-70;
}

.CloseButton {
  @apply m-3 app-light-raised;
}
