@keyframes oscilate {
  75%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes wavesLonger {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}

.OscilateFast {
  @apply bg-app-gray-160;
  animation: oscilate 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.OscilateSlow {
  @apply bg-app-gray-175;
  animation: oscilate 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.Card {
  @apply rounded-md  backdrop-blur-[2px] bg-app-gray-110-020;
  box-shadow: 8px 8px 10px 0 var(--app-gray-030-030);
  border: 1px solid var(--app-gray-255-020);
}

.BaseCircleButton {
  @apply rounded-full;
  @apply h-10 w-10;
  @apply bg-app-gray-230;
  @apply fixed;
  transition: all 0.2s linear;
}

.CircleButtonRaised {
  @apply BaseCircleButton;
  @apply app-light-raised;
}

.CircleButtonAnimationSlow {
  @apply CircleButtonRaised;
  animation: wavesLonger 3s linear infinite;
}

.CircleButtonAnimationNormal {
  @apply CircleButtonRaised;
  animation: wavesLonger 2s linear infinite;
}

.CircleButtonAnimationFast {
  @apply CircleButtonRaised;
  animation: wavesLonger 1s linear infinite;
}

.CircleButtonShallow {
  @apply BaseCircleButton;
  @apply app-light-shallow;
}

.CircleButtonFlat {
  @apply BaseCircleButton;
  @apply border border-app-gray-210;
}
