@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-light-shallow {
    background: linear-gradient(145deg, #d4d4d4, #ffffff);
    box-shadow: -8px -8px 16px #c8c8c8, 8px 8px 16px #ffffff,
      8px 8px 16px #ffffff;
  }

  .app-light-raised {
    @apply bg-app-white-100;
    box-shadow: 8px 8px 16px #c8c8c8, -8px -8px 16px #ffffff;
  }
}

body {
  height: 100%;
  width: 100%;
}
