.BaseButton {
  @apply flex rounded-md;
  @apply h-fit w-fit p-3;
  @apply bg-app-gray-e8;
}

.RaisedButton {
  @apply BaseButton m-[1px];
  @apply app-light-raised;
}

.ShallowButton {
  @apply BaseButton m-[1px];
  @apply app-light-shallow;
  /* border-radius: 50px; */
  /* background: #e8e8e8; */
  /* box-shadow: inset 3px 3px 17px var(--app-gray-c5),
    inset -3px -3px 17px var(--app-gray-ff); */
}

.FlatButton {
  @apply BaseButton;
  @apply border border-app-gray-d0;
}

.FlattenButton {
  @apply BaseButton;
  @apply border;
  @apply hover:bg-app-gray-d7;

  /* animation */
  transition: background 1s;
  @apply active:bg-app-gray-c5 active:transition-none;
}

.BaseCircleButton {
  @apply rounded-full;
  @apply h-16 w-16;
  @apply bg-app-gray-e8;
  @apply fixed;
}

.CircleButtonRaised {
  @apply BaseCircleButton;
  @apply app-light-raised;
  transition: all 0.2s linear;
}

.CircleButtonAnimationSlow {
  @apply CircleButtonRaised;
  animation: waves 4s linear infinite;
}

.CircleButtonAnimationFast {
  @apply CircleButtonRaised;
  animation: waves 2s linear infinite;
}

.CircleButtonShallow {
  @apply BaseCircleButton;
  @apply app-light-shallow;
}

.CircleButtonFlat {
  @apply BaseCircleButton;
  @apply border border-app-gray-d0;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
