.BaseButton {
  @apply flex rounded-md;
  @apply h-fit w-fit;
  @apply bg-app-gray-232;
}

.RaisedButton {
  @apply BaseButton m-[1px];
  @apply app-light-raised;
}

.ShallowButton {
  @apply BaseButton m-[1px];
  @apply app-light-shallow;
  /* border-radius: 50px; */
  /* background: #e8e8e8; */
  /* box-shadow: inset 3px 3px 17px var(--app-gray-c5),
    inset -3px -3px 17px var(--app-gray-ff); */
}

.FlatButton {
  @apply BaseButton;
  @apply border border-app-gray-208;
}

.FlattenButton {
  @apply BaseButton;
  @apply border;
  @apply hover:bg-app-gray-215;

  /* animation */
  transition: background 1s;
  @apply active:bg-app-gray-197 active:transition-none;
}

.BaseCircleButton {
  @apply rounded-full;
  @apply h-8 w-8;
  @apply bg-app-gray-232;
  @apply fixed;
}

.CircleButtonRaised {
  @apply BaseCircleButton;
  @apply app-light-raised;
  transition: all 0.2s linear;
}

.CircleButtonAnimationSlow {
  @apply CircleButtonRaised;
  animation: waves 4s linear infinite;
}

.CircleButtonAnimationFast {
  @apply CircleButtonRaised;
  animation: waves 2s linear infinite;
}

.CircleButtonShallow {
  @apply BaseCircleButton;
  @apply app-light-shallow;
}

.CircleButtonFlat {
  @apply BaseCircleButton;
  @apply border border-app-gray-208;
}

.Card {
  /* background: rgba(255, 255, 255, 0.25); */

  background: rgba(40, 40, 40, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* .Oscilate {
  animation: oscilate 2s linear infinite;
} */

@keyframes oscilate {
  75%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.OscilateFast {
  animation: oscilate 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.OscilateSlow {
  animation: oscilate 4s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
