.Card {
  @apply backdrop-blur-[2px] bg-app-gray-050-015 z-10;
  @apply absolute top-0 h-full w-full;
  /* box-shadow: 8px 8px 10px 0 var(--app-gray-030-030);
  border: 1px solid var(--app-gray-255-020); */
  /* transform: translateY(-25%) translateX(-20%); */
}
