.Card {
  @apply rounded-md  backdrop-blur-[2px] bg-app-gray-110-020;
  box-shadow: 8px 8px 10px 0 var(--app-gray-030-030);
  border: 1px solid var(--app-gray-255-020);
  /* transform: translateY(-25%) translateX(-20%); */
}
