@import "./gray-colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-light-shallow {
    @apply bg-app-gray-230;
    box-shadow: inset 5px 5px 9px var(--app-gray-200),
      inset -5px -5px 9px var(--app-gray-255);
  }

  .app-light-raised {
    @apply bg-app-gray-230;
    box-shadow: 5px 5px 9px var(--app-gray-200),
      -5px -5px 9px var(--app-gray-255);
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
}
