@import "./gray-colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-light-shallow {
    @apply bg-app-gray-230;
    box-shadow: inset -7px -7px 9px var(--app-gray-255),
      inset 7px 7px 9px var(--app-gray-195);
  }

  .app-light-raised {
    @apply bg-app-gray-235;

    box-shadow: 7px 7px 9px var(--app-gray-195),
      -7px -7px 9px var(--app-gray-255);
  }
}

html,
body {
  /*
    - setting the font size to 62.5% makes the 1rem = 10px
      using rem is better but doing the math to convet rem to px is hard
      this trick makes it easier.
    - if a user changes its font size from default 16px to 20px, all elements will
      scale accordanly if using rem as unit
  */
  /* font-size: 62.5%; */
  height: 100vh;
  width: 100vw;
  @apply bg-app-gray-230;
}
