@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-light-shallow {
    @apply bg-app-gray-e8;
    box-shadow: inset 5px 5px 9px var(--app-gray-c5),
      inset -5px -5px 9px var(--app-gray-ff);
  }

  .app-light-raised {
    @apply bg-app-gray-e8;
    box-shadow: 5px 5px 9px var(--app-gray-c5), -5px -5px 9px var(--app-gray-ff);
  }
}

body {
  height: 100%;
  width: 100%;
}
