@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --app-gray-00: #000000;
    --app-gray-01: #010101;
    --app-gray-02: #020202;
    --app-gray-03: #030303;
    --app-gray-04: #040404;
    --app-gray-05: #050505;
    --app-gray-06: #060606;
    --app-gray-07: #070707;
    --app-gray-08: #080808;
    --app-gray-09: #090909;
    --app-gray-0a: #0a0a0a;
    --app-gray-0b: #0b0b0b;
    --app-gray-0c: #0c0c0c;
    --app-gray-0d: #0d0d0d;
    --app-gray-0e: #0e0e0e;
    --app-gray-0f: #0f0f0f;
    --app-gray-10: #101010;
    --app-gray-11: #111111;
    --app-gray-12: #121212;
    --app-gray-13: #131313;
    --app-gray-14: #141414;
    --app-gray-15: #151515;
    --app-gray-16: #161616;
    --app-gray-17: #171717;
    --app-gray-18: #181818;
    --app-gray-19: #191919;
    --app-gray-1a: #1a1a1a;
    --app-gray-1b: #1b1b1b;
    --app-gray-1c: #1c1c1c;
    --app-gray-1d: #1d1d1d;
    --app-gray-1e: #1e1e1e;
    --app-gray-1f: #1f1f1f;
    --app-gray-20: #202020;
    --app-gray-21: #212121;
    --app-gray-22: #222222;
    --app-gray-23: #232323;
    --app-gray-24: #242424;
    --app-gray-25: #252525;
    --app-gray-26: #262626;
    --app-gray-27: #272727;
    --app-gray-28: #282828;
    --app-gray-29: #292929;
    --app-gray-2a: #2a2a2a;
    --app-gray-2b: #2b2b2b;
    --app-gray-2c: #2c2c2c;
    --app-gray-2d: #2d2d2d;
    --app-gray-2e: #2e2e2e;
    --app-gray-2f: #2f2f2f;
    --app-gray-30: #303030;
    --app-gray-31: #313131;
    --app-gray-32: #323232;
    --app-gray-33: #333333;
    --app-gray-34: #343434;
    --app-gray-35: #353535;
    --app-gray-36: #363636;
    --app-gray-37: #373737;
    --app-gray-38: #383838;
    --app-gray-39: #393939;
    --app-gray-3a: #3a3a3a;
    --app-gray-3b: #3b3b3b;
    --app-gray-3c: #3c3c3c;
    --app-gray-3d: #3d3d3d;
    --app-gray-3e: #3e3e3e;
    --app-gray-3f: #3f3f3f;
    --app-gray-40: #404040;
    --app-gray-41: #414141;
    --app-gray-42: #424242;
    --app-gray-43: #434343;
    --app-gray-44: #444444;
    --app-gray-45: #454545;
    --app-gray-46: #464646;
    --app-gray-47: #474747;
    --app-gray-48: #484848;
    --app-gray-49: #494949;
    --app-gray-4a: #4a4a4a;
    --app-gray-4b: #4b4b4b;
    --app-gray-4c: #4c4c4c;
    --app-gray-4d: #4d4d4d;
    --app-gray-4e: #4e4e4e;
    --app-gray-4f: #4f4f4f;
    --app-gray-50: #505050;
    --app-gray-51: #515151;
    --app-gray-52: #525252;
    --app-gray-53: #535353;
    --app-gray-54: #545454;
    --app-gray-55: #555555;
    --app-gray-56: #565656;
    --app-gray-57: #575757;
    --app-gray-58: #585858;
    --app-gray-59: #595959;
    --app-gray-5a: #5a5a5a;
    --app-gray-5b: #5b5b5b;
    --app-gray-5c: #5c5c5c;
    --app-gray-5d: #5d5d5d;
    --app-gray-5e: #5e5e5e;
    --app-gray-5f: #5f5f5f;
    --app-gray-60: #606060;
    --app-gray-61: #616161;
    --app-gray-62: #626262;
    --app-gray-63: #636363;
    --app-gray-64: #646464;
    --app-gray-65: #656565;
    --app-gray-66: #666666;
    --app-gray-67: #676767;
    --app-gray-68: #686868;
    --app-gray-69: #696969;
    --app-gray-6a: #6a6a6a;
    --app-gray-6b: #6b6b6b;
    --app-gray-6c: #6c6c6c;
    --app-gray-6d: #6d6d6d;
    --app-gray-6e: #6e6e6e;
    --app-gray-6f: #6f6f6f;
    --app-gray-70: #707070;
    --app-gray-71: #717171;
    --app-gray-72: #727272;
    --app-gray-73: #737373;
    --app-gray-74: #747474;
    --app-gray-75: #757575;
    --app-gray-76: #767676;
    --app-gray-77: #777777;
    --app-gray-78: #787878;
    --app-gray-79: #797979;
    --app-gray-7a: #7a7a7a;
    --app-gray-7b: #7b7b7b;
    --app-gray-7c: #7c7c7c;
    --app-gray-7d: #7d7d7d;
    --app-gray-7e: #7e7e7e;
    --app-gray-7f: #7f7f7f;
    --app-gray-80: #808080;
    --app-gray-81: #818181;
    --app-gray-82: #828282;
    --app-gray-83: #838383;
    --app-gray-84: #848484;
    --app-gray-85: #858585;
    --app-gray-86: #868686;
    --app-gray-87: #878787;
    --app-gray-88: #888888;
    --app-gray-89: #898989;
    --app-gray-8a: #8a8a8a;
    --app-gray-8b: #8b8b8b;
    --app-gray-8c: #8c8c8c;
    --app-gray-8d: #8d8d8d;
    --app-gray-8e: #8e8e8e;
    --app-gray-8f: #8f8f8f;
    --app-gray-90: #909090;
    --app-gray-91: #919191;
    --app-gray-92: #929292;
    --app-gray-93: #939393;
    --app-gray-94: #949494;
    --app-gray-95: #959595;
    --app-gray-96: #969696;
    --app-gray-97: #979797;
    --app-gray-98: #989898;
    --app-gray-99: #999999;
    --app-gray-9a: #9a9a9a;
    --app-gray-9b: #9b9b9b;
    --app-gray-9c: #9c9c9c;
    --app-gray-9d: #9d9d9d;
    --app-gray-9e: #9e9e9e;
    --app-gray-9f: #9f9f9f;
    --app-gray-a0: #a0a0a0;
    --app-gray-a1: #a1a1a1;
    --app-gray-a2: #a2a2a2;
    --app-gray-a3: #a3a3a3;
    --app-gray-a4: #a4a4a4;
    --app-gray-a5: #a5a5a5;
    --app-gray-a6: #a6a6a6;
    --app-gray-a7: #a7a7a7;
    --app-gray-a8: #a8a8a8;
    --app-gray-a9: #a9a9a9;
    --app-gray-aa: #aaaaaa;
    --app-gray-ab: #ababab;
    --app-gray-ac: #acacac;
    --app-gray-ad: #adadad;
    --app-gray-ae: #aeaeae;
    --app-gray-af: #afafaf;
    --app-gray-b0: #b0b0b0;
    --app-gray-b1: #b1b1b1;
    --app-gray-b2: #b2b2b2;
    --app-gray-b3: #b3b3b3;
    --app-gray-b4: #b4b4b4;
    --app-gray-b5: #b5b5b5;
    --app-gray-b6: #b6b6b6;
    --app-gray-b7: #b7b7b7;
    --app-gray-b8: #b8b8b8;
    --app-gray-b9: #b9b9b9;
    --app-gray-ba: #bababa;
    --app-gray-bb: #bbbbbb;
    --app-gray-bc: #bcbcbc;
    --app-gray-bd: #bdbdbd;
    --app-gray-be: #bebebe;
    --app-gray-bf: #bfbfbf;
    --app-gray-c0: #c0c0c0;
    --app-gray-c1: #c1c1c1;
    --app-gray-c2: #c2c2c2;
    --app-gray-c3: #c3c3c3;
    --app-gray-c4: #c4c4c4;
    --app-gray-c5: #c5c5c5;
    --app-gray-c6: #c6c6c6;
    --app-gray-c7: #c7c7c7;
    --app-gray-c8: #c8c8c8;
    --app-gray-c9: #c9c9c9;
    --app-gray-ca: #cacaca;
    --app-gray-cb: #cbcbcb;
    --app-gray-cc: #cccccc;
    --app-gray-cd: #cdcdcd;
    --app-gray-ce: #cecece;
    --app-gray-cf: #cfcfcf;
    --app-gray-d0: #d0d0d0;
    --app-gray-d1: #d1d1d1;
    --app-gray-d2: #d2d2d2;
    --app-gray-d3: #d3d3d3;
    --app-gray-d4: #d4d4d4;
    --app-gray-d5: #d5d5d5;
    --app-gray-d6: #d6d6d6;
    --app-gray-d7: #d7d7d7;
    --app-gray-d8: #d8d8d8;
    --app-gray-d9: #d9d9d9;
    --app-gray-da: #dadada;
    --app-gray-db: #dbdbdb;
    --app-gray-dc: #dcdcdc;
    --app-gray-dd: #dddddd;
    --app-gray-de: #dedede;
    --app-gray-df: #dfdfdf;
    --app-gray-e0: #e0e0e0;
    --app-gray-e1: #e1e1e1;
    --app-gray-e2: #e2e2e2;
    --app-gray-e3: #e3e3e3;
    --app-gray-e4: #e4e4e4;
    --app-gray-e5: #e5e5e5;
    --app-gray-e6: #e6e6e6;
    --app-gray-e7: #e7e7e7;
    --app-gray-e8: #e8e8e8;
    --app-gray-e9: #e9e9e9;
    --app-gray-ea: #eaeaea;
    --app-gray-eb: #ebebeb;
    --app-gray-ec: #ececec;
    --app-gray-ed: #ededed;
    --app-gray-ee: #eeeeee;
    --app-gray-ef: #efefef;
    --app-gray-f0: #f0f0f0;
    --app-gray-f1: #f1f1f1;
    --app-gray-f2: #f2f2f2;
    --app-gray-f3: #f3f3f3;
    --app-gray-f4: #f4f4f4;
    --app-gray-f5: #f5f5f5;
    --app-gray-f6: #f6f6f6;
    --app-gray-f7: #f7f7f7;
    --app-gray-f8: #f8f8f8;
    --app-gray-f9: #f9f9f9;
    --app-gray-fa: #fafafa;
    --app-gray-fb: #fbfbfb;
    --app-gray-fc: #fcfcfc;
    --app-gray-fd: #fdfdfd;
    --app-gray-fe: #fefefe;
    --app-gray-ff: #ffffff;
  }
}
